@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: sans-serif, 'Kosugi';
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  
  /*background-image: url('./assets/img/bg_index.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;*/
  /*background-color: #d33946 !important;*/

  background: #c10307; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #c10307 0%, #7c0000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #c10307 0%,#7c0000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #c10307 0%,#7c0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c10307', endColorstr='#7c0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


